*{margin:0;
  padding:0;
   }

body{background-image: url("img/fondo1.webp")  ;
          background-position:center center;
          background-repeat:no-repeat ;
          background-size: cover;
          background-attachment:fixed ;
          background-color:rgba(0, 0, 0, .2) ;
          background-blend-mode:darken ; }


.pdf-tub{margin:auto;
           display:block; 
           width:80%;
           height:100vh;
           border-radius:20px;
           box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2) ,
                       0 6px 20px 0 rgba(0 , 0 , 0 , 0.19);
             }


.title{text-align:center;
       padding:20px;
       font-family:"arial";
       color:#fff;}             

@media screen and (max-width: 500px) {
    /* Estilos específicos para pantallas pequeñas */
    .pdf-tubos {
       width: 340px;
       height: 600px;
    }}